.btns-list {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width: $sm) {
        padding-left: 24px;
        padding-right: 24px;
    }

    &::after,
    &::before {
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 0 0;
        content: '';
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L2 8L9 15' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        left: 4px;
    }

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15L8 8L1 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        left: auto;
        right: 4px;
    }

    &__wrapper {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    &__btn {
        background-color: rgba(#fff, 0.1);
        border-radius: 16px;
        border: none;
        color: #fff;
        cursor: pointer;
        flex-grow: 1;
        font-size: 12px;
        font-weight: 600;
        height: 32px;
        outline: 0;
        padding: 6px 14px;
        scroll-snap-align: start;
        transition: background-color 0.3s;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        white-space: nowrap;
        @media(min-width: $sm) {
            border-radius: 20px;
            font-size: 16px;
            height: 40px;
            padding: 10px 20px;
        }

        &:not(:last-child) {
            margin-right: 10px;
            @media(min-width: $sm) {
                margin-right: 12px;
            }
            @media(min-width: $hd) {
                margin-right: 16px;
            }
        }

        &:hover {
            background-color: rgba($main_color, 0.2);
        }

        &.is-active {
            background-color: rgba($main_color, 0.5);
        }

        &--blue {
            background-color: rgba(#5474B4, 0.2);

            &:hover {
                background-color: rgba(#5474B4, 0.5);
            }

            &.is-active {
                background-color: #5474B4;
            }
        }
    }
}