<div class="config__top-button-block">
    <button class="js-params-toggler btn" type="button">Фильтр по параметрам</button>
</div>

<div class="config__sort-block">
    <label class="config__sort-select">
        <span class="config__sort-select-title">Сортировка:</span>
        <div class="select-wrapper">
            <select class="js-select">
                <option value="1">сначала недорогие</option>
                <option value="2">сначала дорогие</option>
            </select>
        </div>
    </label>

    <label class="config__sort-select">
        <span class="config__sort-select-title">Наличие:</span>
        <div class="select-wrapper">
            <select class="js-select">
                <option value="1">готовы к отгрузке</option>
                <option value="2">под заказ</option>
            </select>
        </div>
    </label>

    <div class="config__views">
        <button class="config__view is-active" type="button" title="Карточки">
            <svg aria-hidden="true">
                <use xlink:href="#tiles"></use>
            </svg>
        </button>
        <button class="config__view" type="button" title="Список">
            <svg aria-hidden="true">
                <use xlink:href="#list"></use>
            </svg>
        </button>
    </div>
</div>

<div class="config__filter-resets">
    <button class="config__filter-reset config__filter-reset--type_1" type="button">
        Сбросить фильтры
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Процессор: I9 12 900KF 5.2 ГГц
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Графика в играх: Ultra
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Видеокарта: AMD Radeon 5600XT
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Процессор: Intel
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Форм фактор: Компактные
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Охлаждение: Воздушное
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        Внешний вид: Разворот GPU
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        SSD: Sata 2Tb
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <button class="config__filter-reset config__filter-reset--type_2" type="button">
        HDD: Barracuda 2Tb
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
</div>