<div class="js-popup-dialog popup">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#new_close" />
        </svg>
    </button>

    <div class="popup__inner popup__inner--type_2">
        <p class="popup__title">Как удобнее<br> совершить покупку?</p>

        <div class="popup__buttons">
            <div class="popup__buttons-col">
                <a class="popup__button" href="#">
                    <svg aria-hidden="true">
                        <use xlink:href="#add_cart" />
                    </svg>
                    В корзину
                </a>
                <div class="popup__button-note">Отправить товар<br> в корзину</div>
            </div>
            <div class="popup__buttons-col">
                <a class="js-open-inner popup__button" href="#" data-inner="chats">
                    <svg aria-hidden="true">
                        <use xlink:href="#chat" />
                    </svg>
                    Написать
                </a>
                <div class="popup__button-note">Наш менеджер<br> быстро вам ответит<br> в чате!</div>
            </div>
            <div class="popup__buttons-col">
                <a class="js-open-inner popup__button" href="#" data-inner="oneclick">Купить в 1 клик</a>
                <div class="popup__button-note">Отправьте нам свои<br> данные и мы вам<br> перезвоним!</div>
            </div>
        </div>
    </div>

    <div class="popup__inner popup__inner--type_1" style="display:none" data-inner="oneclick">
        <p class="popup__title">Заполните форму</p>

        <form class="popup__form">
            <div class="popup__form-row">
                <label class="popup__label">
                    <span class="popup__label-text">Телефон*</span>
                    <input class="popup__input error" type="text" placeholder="+7-_ _ _ -_ _ _ -_ _-_ _">
                </label>
            </div>
            <div class="popup__form-row">
                <label class="popup__label">
                    <span class="popup__label-text">ФИО Контактного лица*</span>
                    <input class="popup__input" type="text" placeholder="Петров Петр Петрович">
                </label>
            </div>
            <div class="popup__form-row">
                <img src="images/content/captcha.jpg" alt="">
            </div>
            <div class="popup__form-button">
                <button class="js-open-inner btn" type="submit" data-inner="success">Отправить</button>
            </div>
        </form>
    </div>

    <div class="popup__inner popup__inner--type_2" style="display:none" data-inner="chats">
        <p class="popup__title">Выберите удобный<br> месенджер</p>

        <div class="popup__socials">
            <a class="popup__social" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Название">
                <svg aria-hidden="true">
                    <use xlink:href="#inst" />
                </svg>
            </a>
            <a class="popup__social" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Название">
                <svg aria-hidden="true">
                    <use xlink:href="#circle" />
                </svg>
            </a>
            <a class="popup__social" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Название">
                <svg aria-hidden="true">
                    <use xlink:href="#tg" />
                </svg>
            </a>
            <a class="popup__social" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Название">
                <svg aria-hidden="true">
                    <use xlink:href="#wa" />
                </svg>
            </a>
            <a class="popup__social" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Название">
                <svg aria-hidden="true">
                    <use xlink:href="#chat" />
                </svg>
            </a>
        </div>
    </div>

    <div class="popup__inner popup__inner--type_3" style="display:none" data-inner="success">
        <div class="popup__success">
            <img src="images/icons/success.svg" alt="">
        </div>

        <p class="popup__title">Менеджер сейчас<br> свяжется с вами!</p>

        <div class="popup__form-button">
            <button class="btn btn--type_2 popup__ok" type="button">Ок</button>
        </div>
    </div>
</div>