<div class="js-popup-test popup popup--type_2">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#new_close"></use>
        </svg>
    </button>

    <p class="popup__title">Фильтр конфигураций по играм</p>

    <p class="popup__title">Выбери игры</p>

    <div class="tests-search-block">
        <div class="tests-search">
            <form class="tests-search__form" action="">
                <input class="tests-search__input" type="text" value="" placeholder="Поиск">
                <button class="tests-search__submit" type="button" title="Найти">
                    <svg aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
            <div class="tests-search__dropdown">
                <p class="tests-search__dropdown-title">Результаты поиска: <span>1</span></p>
                <div class="js-tests-slider-5 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="test test--type_1 is-active" type="button" title="Выбрано">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <button class="test test--type_1" type="button" title="Выбрать">
                                <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                                <svg aria-hidden="true">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tests-filter-block">
            <button class="js-tests-filter-opener tests-filter-opener" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="#filter"></use>
                </svg>
                Фильтр игр
            </button>
            <div class="tests-filter">
                <button class="js-tests-filter-closer tests-filter__close" type="button" title="Закрыть">
                    <svg aria-hidden="true">
                        <use xlink:href="#new_close" />
                    </svg>
                </button>
                <div class="tests-filter__inner">
                    <div class="tests-filter__block">
                        <p class="tests-filter__title">жанры</p>
                        <div class="tests-filter__checkboxes">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Стратегия
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                РПГ
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Экшен
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Ужасы
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Инди
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Аркада
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Шутер
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Симулятор
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                                Файтинг
                            </label>
                        </div>
                    </div>
                    <div class="tests-filter__block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            60+ FPS в играх
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            НОВИНКИ
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            игры с FSR
                            <span class="info">
                                <button class="info__button" type="button">
                                    <svg aria-hidden="true">
                                        <use xlink:href="#info" />
                                    </svg>
                                </button>
                                <span class="info__popover">
                                    <span><span></span></span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                    repellat
                                    similique esse odit.
                                </span>
                            </span>
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            игры с DLSS
                            <span class="info">
                                <button class="info__button" type="button">
                                    <svg aria-hidden="true">
                                        <use xlink:href="#info" />
                                    </svg>
                                </button>
                                <span class="info__popover">
                                    <span><span></span></span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                    repellat
                                    similique esse odit.
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <button class="tests-filter__reset" type="button" title="Сбросить">
                    <svg aria-hidden="true">
                        <use xlink:href="#reset" />
                    </svg>
                    <span>Сбросить</span>
                </button>
            </div>
        </div>
    </div>

    <div class="tests">
        <div class="js-tests-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <button class="test test--type_1 is-active" type="button" title="Выбрано">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_1" type="button" title="Выбрать">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#add"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <button id="tests_1_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_left" />
            </svg>
        </button>
        <button id="tests_1_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_right" />
            </svg>
        </button>
    </div>

    <p class="popup__title">Игры на графиках</p>

    <div class="tests">
        <div class="js-tests-slider-3 swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <button class="test test--type_2" type="button" title="Удалить">
                        <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                        <svg aria-hidden="true">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-slide">
                    <div class="test test--type_3" type="button"></div>
                </div>
            </div>
        </div>
        <button id="tests_3_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_left" />
            </svg>
        </button>
        <button id="tests_3_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_right" />
            </svg>
        </button>
    </div>
</div>