<div class="js-popup-warning popup popup--type_3">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#new_close" />
        </svg>
    </button>

    <div class="popup__inner">
        <p class="popup__title">Внимание!</p>

        <p>Данный компонент исключается предыдущими настройками фильтра и если его выбрать, фильтр сбросится</p>

        <div class="popup__buttons">
            <button class="btn btn--type_2" type="button">Оставить</button>
            <button class="btn btn--type_2" type="button">Сбросить</button>
        </div>
    </div>
</div>