.cards {
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
    @media(min-width: $sm) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1264px;
    }
    @media(min-width: $fhd) {
        max-width: 1898px;
    }
    @media(min-width: $ufhd) {
        max-width: 2018px;
    }

    &__list {
        @media(min-width: $hd) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__list-item {
        margin-bottom: 16px;
        @media(min-width: $hd) {
            padding-left: 8px;
            padding-right: 8px;
            width: 50%;
        }
        @media(min-width: $fhd) {
            width: 33.33333%;
        }
        @media(min-width: $ufhd) {
            margin-bottom: 24px;
            padding-left: 28px;
            padding-right: 28px;
        }
    }

    &--no_cards {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.125;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $hd) {
            font-size: 32px;
        }
        @media(min-width: $fhd) {
            font-size: 48px;
            padding-bottom: 0;
            padding-top: 72px;
        }
        @media(min-width: $ufhd) {
            padding-top: 80px;
        }

        p {
            margin: 0 0 6px;
            @media(min-width: $sm) {
                margin-bottom: 32px;
            }
            @media(min-width: $hd) {
                margin-bottom: 24px;
            }
            @media(min-width: $fhd) {
                margin-bottom: 72px;
            }
            @media(min-width: $ufhd) {
                margin-bottom: 40px;
            }
        }

        img {
            width: 100%;
            @media(min-width: $sm) {
                width: 536px;
            }
            @media(min-width: $hd) {
                width: 542px;
            }
            @media(min-width: $fhd) {
                width: 844px;
            }
            @media(min-width: $ufhd) {
                width: 874px;
            }
        }
    }
}

.card {
    background-color: #020405;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 354px;
    @media(min-width: $sm) {
        box-shadow: 0 0 8px 0 rgba($main_color, 0.5);
        border-radius: 12px;
        max-width: 616px;
    }

    &--blue {
        @media(min-width: $sm) {
            box-shadow: 0 0 8px 0 rgba(#5793EA, 0.5);
        }
    }

    &__top {
        border-radius: 4px 4px 0 0;
        background: radial-gradient(45.41% 49.44% at 49.06% 52.82%, #3A3C59 0%, #0C1117 100%);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        padding: 24px 0;
        @media(min-width: $sm) {
            border-radius: 12px 12px 0 0;
            padding-bottom: 16px;
        }
    }

    &__reset {
        align-items: center;
        border-radius: 4px;
        background-color: rgba(#fff,0.1);
        border: 1px solid transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 12px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 40px;
        z-index: 1;
        @media(min-width: $sm) {
            right: 24px;
            top: 24px;
        }
        @media(min-width: $hd) {
            background-color: rgba(#fff, 0.2);
            height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            right: 20px;
            top: 20px;
            width: auto;
        }
        @media(min-width: $fhd) {
            padding-left: 24px;
            padding-right: 24px;
            right: 40px;
            top: 40px;
        }
        @media(min-width: $ufhd) {
            font-size: 20px;
            height: 48px;
            padding-left: 28px;
            padding-right: 28px;
            right: 64px;
            top: 40px;
        }

        span {
            display: none;
            @media(min-width: $hd) {
                display: block;
            }
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
            @media(min-width: $hd) {
                height: 18px;
                margin-right: 4px;
                width: 18px;
            }
            @media(min-width: $ufhd) {
                height: 20px;
                width: 20px;
            }
        }

        &:focus,
        &:hover {
            border-color: $main_color;
            background-color: rgba($main_color, 0.7);
        }

        &:active {
            border-color: $main_color;
            background-color: $main_color;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11111;
        letter-spacing: 0.54px;
        margin-bottom: 16px;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 24px;
            font-weight: 900;
            line-height: 1.33333;
            letter-spacing: 0.72px;
            margin-bottom: 8px;
        }
    }

    &__rating-block {
        align-self: center;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }

    &__rating {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        @media(min-width: $sm) {
            font-size: 24px;
            line-height: 1.33333;
        }

        svg {
            fill: #EAAC52;
            height: 24px;
            min-width: 24px;
            margin-right: 8px;
            width: 24px;
        }

        & + .card__order-time {
            margin-left: 8px;
            @media(min-width: $sm) {
                margin-left: 16px;
            }
        }
    }

    &__order-time {
        border-radius: 44px;
        border: 2px solid #EAAC52;
        background-color: rgba(#EAAC52, 0.3);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        height: 32px;
        line-height: 1.25;
        margin: 0;
        padding: 5px 13px 4px;
    }

    &__settings-block {
        height: 32px;
        left: auto;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        z-index: 2;
        @media(min-width: $fhd) {
            height: 40px;
            width: 40px;
        }
        @media(min-width: $ufhd) {
            height: 48px;
            width: 48px;
        }
    }

    &__settings-opener {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 32px;
        padding: 0;
        width: 32px;
        @media(min-width: $fhd) {
            height: 40px;
            width: 40px;
        }
        @media(min-width: $ufhd) {
            height: 48px;
            width: 48px;
        }

        svg {
            fill: #fff;
            height: 24px;
            width: 24px;
            @media(min-width: $ufhd) {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__settings {
        background-color: #0C1117;
        border-radius: 4px;
        box-shadow: 0 4px 40px 0 rgba($main_color, 0.25);
        display: none;
        left: auto;
        position: absolute;
        padding: 14px 46px 32px;
        right: -12px;
        top: -12px;
        width: 354px;
        z-index: 1;
        @media(min-width: $fhd) {
            padding-bottom: 50px;
            padding-left: 108px;
            padding-right: 108px;
            width: 478px;
        }

        &.is-open {
            display: block;
        }

        .btns-group {
            background-color: transparent;
            padding: 0;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        .btns-group__item {
            padding-left: 5px;
            padding-right: 5px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .btns-group__item-inner {
            min-width: 0;
            min-height: 48px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &__settings-closer {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 48px;
        left: auto;
        padding: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 48px;
        z-index: 1;
        @media(min-width: $fhd) {
            height: 60px;
            width: 60px;
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
            @media(min-width: $fhd) {
                height: 30px;
                width: 30px;
            }
        }
    }

    &__settings-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.77777;
        letter-spacing: 0.54px;
        margin-bottom: 24px;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $fhd) {
            font-size: 24px;
            line-height: 1.33333;
            letter-spacing: 0.72px;
            margin-bottom: 30px;
        }
    }

    &__settings-subtitle {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44444;
        letter-spacing: 0.18px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center;
    }

    &__label {
        align-items: center;
        border-radius: 0 4px 4px 0;
        background-image: linear-gradient(267.17deg, #FF6262 -1.75%, #D43C38 94.7%);
        display: flex;
        font-size: 12px;
        font-weight: 700;
        justify-content: center;
        line-height: 1.25;
        left: 0;
        min-height: 40px;
        padding: 8px 12px;
        position: absolute;
        top: 112px;
        text-transform: uppercase;
        z-index: 2;
        @media(min-width: $sm) {
            font-size: 16px;
            min-height: 48px;
            padding: 12px 24px;
            top: 104px;
        }
        @media(min-width: $hd) {
            top: 98px;
        }

        &--type_1 {
            background-image: linear-gradient(266.66deg, #6891E3 0.4%, #476399 94.55%);
        }

        &--type_2 {
            background-image: linear-gradient(82.27deg, #FAB17B 0%, #F7CB6B 100%);
            color: #020405;
        }

        &--type_3 {
            background-image: linear-gradient(262.27deg, #7777AD 0%, #525589 100%);
        }

        &--type_4 {
            background-image: linear-gradient(87.05deg, #3B81EA -4.24%, #11AEF5 100%);
        }

        &--type_5 {
            background-image: linear-gradient(82.27deg, #E06C2E 0%, #E79C49 100%);
            color: #020405;
        }

        &--type_6 {
            background-image: linear-gradient(264.31deg, #EA2C4E -19.62%, #C80A1D 100%);
        }
    }

    &__slider-block {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-top: -20px;
            margin-bottom: -20px;
        }

        .swiper-slide {
            text-align: center;
        }

        img {
            max-width: 205px;
            @media(min-width: $sm) {
                max-width: 390px;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            align-items: center;
            background-color: #0C1117;
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 16px 0 rgba(#fff, 0.5);
            cursor: pointer;
            display: flex;
            height: 32px;
            justify-content: center;
            margin-top: 0;
            padding: 0;
            transform: translateY(-50%);
            width: 32px;
            z-index: 1;
            @media(min-width: $fhd) {
                height: 40px;
                width: 40px;
            }
            @media(min-width: $ufhd) {
                height: 48px;
                width: 48px;
            }

            &::after {
                display: none;
            }

            svg {
                fill: #fff;
                height: 20px;
                width: 20px;
                @media(min-width: $fhd) {
                    height: 24px;
                    width: 24px;
                }
                @media(min-width: $ufhd) {
                    height: 28px;
                    width: 28px;
                }
            }
        }

        .swiper-button-prev {
            left: 16px;
            @media(min-width: $sm) {
                left: 20px;
            }
            @media(min-width: $fhd) {
                left: 40px;
            }
            @media(min-width: $ufhd) {
                left: 64px;
            }
        }

        .swiper-button-next {
            right: 16px;
            @media(min-width: $sm) {
                right: 20px;
            }
            @media(min-width: $fhd) {
                right: 40px;
            }
            @media(min-width: $ufhd) {
                right: 64px;
            }
        }

        & + .card__buy-block {
            margin-top: auto;
        }
    }

    &__slider {
        display: none;

        img {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        &.is-active {
            display: block;
        }

        &.visible {
            img {
                opacity: 1;
            }
        }
    }

    &__buy-block {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;

        .btn {
            font-size: 11px;
            min-width: 105px;
            padding-left: 8px;
            padding-right: 8px;
            @media(min-width: $sm) {
                box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
                font-size: 14px;
                font-weight: 800;
                min-width: 164px;
                min-height: 40px;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            @media(min-width: $hd) {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-right: 8px;
                @media(min-width: $sm) {
                    margin-right: 16px;
                }
                @media(min-width: $fhd) {
                    margin-right: 24px;
                }
            }
        }
    }

    &__price-block {
        &:not(:last-child) {
            margin-right: 8px;
            @media(min-width: $sm) {
                margin-right: 16px;
            }
            @media(min-width: $fhd) {
                margin-right: 24px;
            }
        }
    }

    &__price {
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        line-height: 1.33333;
        letter-spacing: 0.5px;
        margin: 0;
        white-space: nowrap;
        @media(min-width: $sm) {
            font-size: 24px;
            line-height: 1.25;
        }
        @media(min-width: $fhd) {
            font-size: 32px;
        }
    }

    &__credit {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 12px;
        line-height: 1.33333;
        margin: 0;

        .info {
            margin-right: 6px;
        }

        .info__button {
            height: 16px;
            width: 16px;

            svg {
                fill: #fff;
                height: 16px;
                min-width: 16px;
                width: 16px;
            }
        }

        .info__popover {
            font-size: 12px;
            left: -26px;
            padding: 8px;
            top: 24px;
            text-align: center;
            width: 156px;

            span {
                left: 22px;
            }
        }
    }

    &__bottom {
        padding-top: 12px;
        padding-bottom: 6px;
        @media(min-width: $sm) {
            padding-bottom: 40px;
        }
        @media(min-width: $fhd) {
            padding-top: 16px;
            padding-bottom: 34px;
        }
        @media(min-width: $ufhd) {
            padding-bottom: 60px;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 40px;
            padding-left: 26px;
            padding-right: 26px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 32px;
            padding-left: 0;
            padding-right: 0;
        }
        @media(min-width: $ufhd) {
            margin-bottom: 56px;
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__info-block {
        font-size: 8px;
        line-height: 1.5;
        padding-top: 18px;
        padding-bottom: 10px;
        text-align: center;
        width: 33.33333%;
        @media(min-width: $sm) {
            font-size: 12px;
            line-height: 1.33333;
            padding: 24px 8px 8px;
        }
    }

    &__info-title {
        background: -webkit-linear-gradient(45deg, #3B81EA, #00C0FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-weight: 800;
        line-height: 1.66666;
        letter-spacing: 0.36px;
        margin-bottom: 2px;
        @media(min-width: $sm) {
            font-size: 18px;
            line-height: 1.33333;
            letter-spacing: 0.54px;
            margin-bottom: 6px;
        }

        &--red {
            background: -webkit-linear-gradient(45deg, #D63E36, #C80A1D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__graphs {
        margin-bottom: 40px;
        padding-left: 14px;
        padding-right: 14px;
        @media(min-width: $sm) {
            margin-bottom: 36px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__graphs-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.11111;
        letter-spacing: 0.54px;
        margin-bottom: 16px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @media(min-width: $sm) {
            font-size: 18px;
            line-height: 1.77777;
            margin-bottom: 10px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;

        .btn {
            margin-left: 8px;
            margin-right: 8px;
            @media(min-width: $sm) {
                min-height: 48px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__colors {
        margin: -42px auto 12px;
        position: relative;
        z-index: 2;
    }

    &__colors-title {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.11111;
        margin-top: 0;
        margin-bottom: 8px;
        text-align: center;
    }

    &__colors-list {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__colors-list-item {
        margin-left: 8px;
        margin-right: 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__color {
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        height: 24px;
        transition: border-color 0.3s;
        width: 24px;
        @media(min-width: $sm) {
            height: 32px;
            width: 32px;
        }

        &.is-active {
            border-color: #fff;
        }
    }
}