.cards {
    position: relative;

    &__list {}

    &__list-item {}

    &--no_cards {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.125;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $hd) {
            font-size: 32px;
        }
        @media(min-width: $fhd) {
            font-size: 48px;
            padding-bottom: 0;
            padding-top: 72px;
        }
        @media(min-width: $ufhd) {
            padding-top: 80px;
        }

        p {
            margin: 0 0 6px;
            @media(min-width: $sm) {
                margin-bottom: 32px;
            }
            @media(min-width: $hd) {
                margin-bottom: 24px;
            }
            @media(min-width: $fhd) {
                margin-bottom: 72px;
            }
            @media(min-width: $ufhd) {
                margin-bottom: 40px;
            }
        }

        img {
            width: 100%;
            @media(min-width: $sm) {
                width: 536px;
            }
            @media(min-width: $hd) {
                width: 542px;
            }
            @media(min-width: $fhd) {
                width: 844px;
            }
            @media(min-width: $ufhd) {
                width: 874px;
            }
        }
    }

    &.tiles-view {
        .cards__list {
            margin-left: -10px;
            margin-right: -10px;
            @media(min-width: $sm) {
                display: flex;
                flex-wrap: wrap;
            }
            @media(min-width: $hd) and (max-width: $fhd - 1px) {
                margin-left: -5px;
                margin-right: -5px;
            }
            @media(min-width: $fhd) {
                margin-left: -12px;
                margin-right: -12px;
            }
        }

        .cards__list-item {
            margin-bottom: 24px;
            padding-left: 10px;
            padding-right: 10px;
            @media(min-width: $sm) {
                width: 50%;
            }
            @media(min-width: $hd) and (max-width: $fhd - 1px) {
                padding-left: 5px;
                padding-right: 5px;
            }
            @media(min-width: 1600px) {
                margin-bottom: 32px;
                padding-left: 12px;
                padding-right: 12px;
                width: 33.33333%;
            }
        }

        .card {
            box-shadow: 0 0 8px 0 rgba($main_color, 0.5);
        }

        .card__chars {
            display: none;
        }

        .card__slider-block {
            img {
                max-width: 230px;
            }
        }

        .card__config-button {
            bottom: 24px;
            left: 50%;
            position: absolute;
            padding-left: 16px;
            padding-right: 16px;
            transform: translateX(-50%);
            top: auto;
            z-index: 1;
        }
    }

    &.list-view {
        .cards__list {
            @media(min-width: $sm) and (max-width: $hd - 1px) {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
            }
        }

        .cards__list-item {
            margin-bottom: 24px;
            @media(max-width: $hd - 1px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            @media(min-width: $sm) and (max-width: $hd - 1px) {
                width: 50%;
            }
        }

        .card {
            box-shadow: 0 0 8px 0 rgba(#fff, 0.5);
            padding: 0;
            @media(max-width: $hd - 1px) {
                padding-bottom: 74px;
            }
        }

        .card__top {
            @media(min-width: $hd) {
                align-items: center;
                background: none;
                flex-direction: row;
                padding: 16px;
            }
            @media(min-width: $fhd) {
                padding: 24px;
            }
        }

        .card__text-block {
            @media(min-width: $hd) {
                order: 2;
                padding-left: 16px;
                padding-right: 16px;
            }
            @media(min-width: 1350px) {
                padding-left: 24px;
                padding-right: 24px;
            }
            @media(min-width: $fhd) {
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        .card__title-block {
            @media(min-width: $hd) {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
            }
            @media(min-width: $fhd) {
                margin-bottom: 16px;
            }
        }

        .card__title {
            @media(min-width: $fhd) {
                font-size: 18px;
            }
        }

        .card__rating-block {
            @media(min-width: $hd) {
                align-self: flex-start;
                order: -1;
            }
            @media(min-width: $fhd) {
                margin-bottom: 16px;
            }
        }

        .card__chars {
            font-size: 12px;
            @media(max-width: $hd - 1px) {
                display: none;
            }
            @media(min-width: $fhd) {
                font-size: 16px;
            }

            p {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                b {
                    font-weight: 600;
                }
            }

            ul {
                li {
                    padding-left: 24px;
                    position: relative;
                    z-index: 0;

                    &::before {
                        content: '•';
                        left: 10px;
                        position: absolute;
                        transform: translateX(-50%);
                        top: 0;
                        z-index: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }

        .card__label {
            @media(min-width: $hd) {
                top: 16px;
            }
            @media(min-width: $fhd) {
                top: 24px;
            }
        }

        .card__slider-colors {
            @media(min-width: $hd) {
                border-radius: 8px;
                background: radial-gradient(51.84% 58.28% at 42.63% 71.6%, #3A3C59 0%, #0C1117 100%);
                order: 1;
                width: 230px;
            }
            @media(min-width: $fhd) {
                width: 340px;
            }
        }

        .card__slider-block {
            img {
                @media(max-width: $hd - 1px) {
                    max-width: 230px;
                }
            }
        }

        .card__colors {
            @media(min-width: $hd) {
                margin-top: -60px;
            }
        }

        .card__colors-list-item {
            @media(min-width: $hd) {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .card__color {
            @media(min-width: $hd) {
                height: 24px;
                width: 24px;
            }
        }

        .card__buy-block {
            @media(min-width: $hd) {
                align-items: flex-start;
                flex-direction: column;
                margin-left: auto;
                order: 3;
            }

            .btn {
                &:not(:last-child) {
                    @media(min-width: $hd) {
                        margin-right: 0;
                        margin-bottom: 12px;
                    }
                }
                @media(min-width: $hd) and (max-width: 1349px) {
                    font-size: 14px;
                }
                @media(min-width: $hd) {
                    width: 100%;
                }
            }
        }

        .card__price-block {
            @media(min-width: $hd) {
                margin-bottom: 12px;
            }

            &:not(:last-child) {
                @media(min-width: $hd) {
                    margin-right: 0;
                }
            }
        }

        .card__price {
            @media(min-width: $hd) and (max-width: 1349px) {
                font-size: 18px;
            }
            @media(min-width: $fhd) {
                font-size: 28px;
            }
        }

        .card__config-button {
            @media(max-width: $hd - 1px) {
                bottom: 24px;
                left: 50%;
                position: absolute;
                padding-left: 16px;
                padding-right: 16px;
                transform: translateX(-50%);
                top: auto;
                z-index: 1;
            }
        }

        .card__bottom {
            @media(min-width: $hd) {
                display: none;
            }
        }
    }
}

.card {
    background-color: #020405;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding-bottom: 74px;
    position: relative;
    z-index: 1;
    @media(min-width: $sm) {
        max-width: 100%;
    }

    &--blue {
        @media(min-width: $sm) {
            box-shadow: 0 0 8px 0 rgba(#5793EA, 0.5);
        }
    }

    &__top {
        border-radius: 4px 4px 0 0;
        background: radial-gradient(45.41% 49.44% at 49.06% 52.82%, #3A3C59 0%, #0C1117 100%);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 24px 0;
        @media(min-width: $sm) {
            border-radius: 12px 12px 0 0;
            padding-bottom: 16px;
        }
    }

    &__reset {
        align-items: center;
        border-radius: 4px;
        background-color: rgba(#fff,0.1);
        border: 1px solid transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 12px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 40px;
        z-index: 1;
        @media(min-width: $sm) {
            right: 24px;
            top: 24px;
        }
        @media(min-width: $hd) {
            background-color: rgba(#fff, 0.2);
            height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            right: 20px;
            top: 20px;
            width: auto;
        }
        @media(min-width: $fhd) {
            padding-left: 24px;
            padding-right: 24px;
            right: 40px;
            top: 40px;
        }
        @media(min-width: $ufhd) {
            font-size: 20px;
            height: 48px;
            padding-left: 28px;
            padding-right: 28px;
            right: 64px;
            top: 40px;
        }

        span {
            display: none;
            @media(min-width: $hd) {
                display: block;
            }
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
            @media(min-width: $hd) {
                height: 18px;
                margin-right: 4px;
                width: 18px;
            }
            @media(min-width: $ufhd) {
                height: 20px;
                width: 20px;
            }
        }

        &:focus,
        &:hover {
            border-color: $main_color;
            background-color: rgba($main_color, 0.7);
        }

        &:active {
            border-color: $main_color;
            background-color: $main_color;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 900;
        line-height: 1.11111;
        letter-spacing: 0.54px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center;
    }

    &__rating-block {
        align-self: center;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    &__rating {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        margin: 0;

        svg {
            fill: #EAAC52;
            height: 16px;
            min-width: 16px;
            margin-right: 4px;
            width: 16px;
        }

        & + .card__order-time {
            margin-left: 8px;
            @media(min-width: $sm) {
                margin-left: 12px;
            }
        }
    }

    &__order-time {
        border-radius: 44px;
        border: 2px solid #EAAC52;
        background-color: rgba(#EAAC52, 0.3);
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        height: 20px;
        line-height: 1;
        margin: 0;
        padding: 4px 10px;
    }

    &__settings-opener {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 32px;
        margin-left: 12px;
        padding: 0;
        width: 32px;
        @media(min-width: $fhd) {
            height: 40px;
            width: 40px;
        }
        @media(min-width: $ufhd) {
            height: 48px;
            width: 48px;
        }

        svg {
            fill: #fff;
            height: 24px;
            width: 24px;
            @media(min-width: $ufhd) {
                height: 32px;
                width: 32px;
            }
        }
    }

    &__label {
        align-items: center;
        border-radius: 0 4px 4px 0;
        background-image: linear-gradient(267.17deg, #FF6262 -1.75%, #D43C38 94.7%);
        display: flex;
        font-size: 12px;
        font-weight: 700;
        justify-content: center;
        line-height: 1.25;
        left: 0;
        min-height: 32px;
        padding: 8px 12px;
        position: absolute;
        top: 80px;
        text-transform: uppercase;
        z-index: 2;

        &--type_1 {
            background-image: linear-gradient(266.66deg, #6891E3 0.4%, #476399 94.55%);
        }

        &--type_2 {
            background-image: linear-gradient(82.27deg, #FAB17B 0%, #F7CB6B 100%);
            color: #020405;
        }

        &--type_3 {
            background-image: linear-gradient(262.27deg, #7777AD 0%, #525589 100%);
        }

        &--type_4 {
            background-image: linear-gradient(87.05deg, #3B81EA -4.24%, #11AEF5 100%);
        }

        &--type_5 {
            background-image: linear-gradient(82.27deg, #E06C2E 0%, #E79C49 100%);
            color: #020405;
        }

        &--type_6 {
            background-image: linear-gradient(264.31deg, #EA2C4E -19.62%, #C80A1D 100%);
        }
    }

    &__slider-block {
        .swiper-slide {
            text-align: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            align-items: center;
            background-color: #0C1117;
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 16px 0 rgba(#fff, 0.5);
            cursor: pointer;
            display: flex;
            height: 24px;
            justify-content: center;
            margin-top: 0;
            padding: 0;
            transform: translateY(-50%);
            width: 24px;
            z-index: 1;

            &::after {
                display: none;
            }

            svg {
                fill: #fff;
                height: 12px;
                width: 12px;
            }
        }

        .swiper-button-prev {
            left: 12px;
        }

        .swiper-button-next {
            right: 12px;
        }

        & + .card__buy-block {
            margin-top: auto;
        }
    }

    &__slider {
        display: none;

        img {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        &.is-active {
            display: block;
        }

        &.visible {
            img {
                opacity: 1;
            }
        }
    }

    &__buy-block {
        align-items: center;
        display: flex;
        justify-content: center;

        .btn {
            font-size: 16px;
            min-width: 105px;
            min-height: 32px;
            padding-left: 8px;
            padding-right: 8px;

            &:not(:last-child) {
                margin-right: 8px;
                @media(min-width: $sm) {
                    margin-right: 16px;
                }
                @media(min-width: $fhd) {
                    margin-right: 24px;
                }
            }
        }
    }

    &__price-block {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__price {
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.33333;
        letter-spacing: 0.5px;
        margin: 0;
        white-space: nowrap;
    }

    &__credit {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 12px;
        line-height: 1.33333;
        margin: 0;

        .info {
            margin-right: 6px;
        }

        .info__button {
            height: 16px;
            width: 16px;

            svg {
                fill: #fff;
                height: 16px;
                min-width: 16px;
                width: 16px;
            }
        }

        .info__popover {
            font-size: 12px;
            left: -26px;
            padding: 8px;
            top: 24px;
            text-align: center;
            width: 156px;

            span {
                left: 22px;
            }
        }
    }

    &__bottom {}

    &__info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    &__info-block {
        font-size: 10px;
        line-height: 1.5;
        padding-top: 16px;
        padding-bottom: 10px;
        text-align: center;
        width: 33.33333%;
    }

    &__info-title {
        background: -webkit-linear-gradient(45deg, #3B81EA, #00C0FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.66666;
        letter-spacing: 0.36px;
        margin-bottom: 2px;

        &--red {
            background: -webkit-linear-gradient(45deg, #D63E36, #C80A1D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__graphs {
        //margin-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__graphs-title {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.11111;
        letter-spacing: 0.54px;
        margin-bottom: 16px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    &__buttons {
        display: flex;
        justify-content: center;

        .btn {
            font-size: 16px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    &__colors {
        margin: -12px auto 12px;
        position: relative;
        z-index: 2;
    }

    &__colors-title {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.11111;
        margin-top: 0;
        margin-bottom: 8px;
        text-align: center;
    }

    &__colors-list {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__colors-list-item {
        margin-left: 8px;
        margin-right: 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__color {
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        height: 24px;
        transition: border-color 0.3s;
        width: 24px;
        @media(min-width: $sm) {
            height: 32px;
            width: 32px;
        }

        &.is-active {
            border-color: #fff;
        }
    }
}