.graph {
    align-items: center;
    display: flex;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &__image {
        box-shadow: 0 0 14px 0 rgba(#40BEFF, 0.6);
        border-radius: 50%;
        min-width: 48px;
        position: relative;
        width: 48px;
        z-index: 1;
        @media(min-width: $sm) {
            min-width: 56px;
            width: 56px;
        }

        &--red {
            box-shadow: 0 0 14px 0 rgba($main_color, 0.5);
        }
    }

    &__graph {
        align-items: center;
        background-image: linear-gradient(-90deg, #315CB4 0%, #090D11 100%);
        border-radius: 12px;
        color: rgba(#fff, 0.9);
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        font-weight: 700;
        height: 24px;
        justify-content: flex-end;
        line-height: 1;
        margin-left: -16px;
        padding-right: 14px;
        text-align: right;
        @media(min-width: $sm) {
            border-radius: 16px;
            height: 32px;
            margin-left: -28px;
        }

        small {
            font-size: 12px;
            font-weight: 500;
        }

        &--red {
            background-image: linear-gradient(-90deg, #D43C38 0%, #090D11 100%);
        }
    }
}