.info {
    position: relative;

    &.is-open {
        z-index: 2;

        .info__popover {
            display: block;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        height: 20px;
        padding: 0;
        width: 20px;
        @media(min-width: $sm) {
            height: 24px;
            width: 24px;
        }
        @media(min-width: $fhd) {
            height: 30px;
            width: 30px;
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
            @media(min-width: $sm) {
                height: 24px;
                width: 24px;
            }
            @media(min-width: $fhd) {
                height: 30px;
                width: 30px;
            }
        }

        &--big {
            height: 32px;
            width: 32px;
            @media(min-width: $fhd) {
                height: 40px;
                width: 40px;
            }
            @media(min-width: $ufhd) {
                height: 48px;
                width: 48px;
            }

            svg {
                height: 32px;
                width: 32px;
                @media(min-width: $fhd) {
                    height: 40px;
                    width: 40px;
                }
                @media(min-width: $ufhd) {
                    height: 48px;
                    width: 48px;
                }
            }
        }
    }

    &__popover {
        border-radius: 4px;
        background-color: rgba(#DADADA, 0.1);
        backdrop-filter: blur(70px);
        color: #fff;
        display: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        left: -24px;
        padding: 20px;
        position: absolute;
        top: 18px;
        text-align: left;
        text-transform: none;
        width: 294px;
        @media(min-width: $fhd) {
            top: 20px;
        }

        span {
            height: 12px;
            left: 22px;
            overflow: hidden;
            position: absolute;
            top: -12px;
            width: 24px;
            @media(min-width: $hd) {
                left: 24px;
            }
            @media(min-width: $fhd) {
                left: 27px;
            }

            span {
                backdrop-filter: blur(70px);
                background-color: rgba(#DADADA, 0.1);
                border-radius: 4px;
                display: block;
                height: 18px;
                margin-top: 4px;
                margin-left: auto;
                margin-right: auto;
                position: static;
                transform: rotate(45deg);
                width: 18px;
            }
        }
    }
}