.tests-filter-opener {
    align-items: center;
    background-color: #5474B4;
    border-radius: 2px;
    border: 2px solid #5474B4;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.33333;
    letter-spacing: 0.1px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 0.3s;
    @media(min-width: $hd) {
        font-size: 16px;
        min-height: 48px;
    }

    &.is-active,
    &:active,
    &:focus,
    &:hover {
        background-color: rgba(#5474B4, 0.3);
    }

    svg {
        fill: #fff;
        height: 20px;
        margin-right: 8px;
        width: 20px;
        @media(min-width: $hd) {
            height: 24px;
            width: 24px;
        }
    }

    &:disabled {
        background-color: rgba(#fff, 0.1);
        border-color: rgba(#fff, 0.2);
        color: rgba(#fff, 0.2);
        cursor: default;

        svg {
            fill: rgba(#fff, 0.2);
        }
    }
}

.tests-filter {
    background-color: #0C1117;
    border-radius: 8px;
    box-shadow: 0 4px 25px 0 rgba(#D43C38, 0.5);
    display: none;
    height: 100%;
    left: 50%;
    max-height: 694px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 350px;
    z-index: 2;
    @media(min-width: $sm) {
        width: 518px;
    }
    @media(min-width: $hd) {
        height: auto;
        left: auto;
        max-height: initial;
        overflow: visible;
        position: absolute;
        right: -2px;
        top: -2px;
        transform: none;
        padding-bottom: 32px;
        width: 942px;
    }
    @media(min-width: $fhd) {
        width: 990px;
    }

    &.is-open {
        display: block;
    }

    &__close {
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff, 0.1);
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: background-color 0.3s;
        width: 40px;

        &:hover {
            background-color: rgba(#fff, 0.3);
        }

        svg {
            fill: #fff;
            height: 40px;
            width: 40px;
        }
    }

    &__inner {
        margin-bottom: 24px;
        @media(min-width: $hd) {
            display: flex;
            margin-bottom: 0;
        }
    }

    &__reset {
        align-items: center;
        border-radius: 4px;
        background-color: rgba(#fff,0.1);
        border: 2px solid transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        height: 48px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 24px;
        transition: background-color 0.3s, border-color 0.3s;

        svg {
            fill: #fff;
            height: 22px;
            margin-right: 8px;
            width: 22px;
        }

        &:focus,
        &:hover {
            border-color: #D43C38;
            background-color: rgba(#D43C38, 0.3);
        }

        &:active {
            border-color: #D43C38;
            background-color: #D43C38;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44444;
        letter-spacing: 0.18px;
        margin-top: 0;
        margin-bottom: 16px;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $hd) {
            text-align: left;
        }
    }

    &__block {
        &:first-child {
            padding: 16px 20px 36px;
            @media(min-width: $sm) {
                padding-left: 68px;
                padding-right: 68px;
                padding-bottom: 24px;
            }
            @media(min-width: $hd) {
                padding: 16px 24px;
            }
        }

        &:last-child {
            padding: 32px 46px 42px;
            @media(min-width: $sm) {
                padding: 32px 130px 42px;
            }
            @media(min-width: $hd) {
                min-width: 376px;
                padding: 24px 48px 32px;
            }
            @media(min-width: $fhd) {
                min-width: 424px;
                padding-bottom: 40px;
            }

            .switch {
                width: 100%;
                @media(min-width: $hd) {
                    width: 256px;
                }

                &:not(:last-child) {
                    @media(min-width: $hd) {
                        margin-bottom: 18px;
                    }
                    @media(min-width: $fhd) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    &__checkboxes {
        columns: 2;
        column-fill: balance;
        @media(min-width: $hd) {
            columns: 3;
        }

        .checkbox {
            margin-bottom: 16px;
        }
    }

    .info {
        margin-left: auto;

        &.is-open {
            z-index: 2;
        }
    }

    .info__button {
        height: 30px;
        width: 30px;

        svg {
            height: 30px;
            width: 30px;
        }
    }

    .info__popover {
        left: auto;
        right: -24px;

        span {
            left: auto;
            right: 27px;
        }
    }
}

.tests {
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(#D43C38, 0.5);
    padding: 8px 32px;
    position: relative;
    z-index: 1;
    @media(min-width: $sm) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @media(min-width: $hd) {
        padding: 20px 42px;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        margin-left: -6px;
        margin-right: -6px;
        overflow-x: auto;

        .tests__list-item {
            padding-left: 6px;
            padding-right: 6px;
            width: 10%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        align-items: center;
        border-radius: 50%;
        background-color: #0C1117;
        border: none;
        box-shadow: 0 0 4px 0 rgba(#D43C38, 0.5);
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        transform: translateY(-50%);
        width: 24px;

        &::after {
            display: none;
        }

        svg {
            fill: #fff;
            height: 12px;
            width: 12px;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 4px;
        @media(min-width: $hd) {
            left: 12px;
        }
    }

    .swiper-button-next {
        left: auto;
        right: 4px;
        @media(min-width: $hd) {
            right: 12px;
        }
    }

    .swiper-slide {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.test {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(#fff, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-width: 48px;
    min-height: 66px;
    position: relative;
    padding: 0;
    transition: box-shadow 0.3s;
    @media(min-width: $sm) {
        min-width: 72px;
        min-height: 99px;
    }
    @media(min-width: $hd) {
        min-width: 90px;
        min-height: 124px;
    }

    img {
        border-radius: 4px;
        display: block;
    }

    svg {
        fill: #fff;
        filter: drop-shadow(0 2px 4px rgba(#000, 0.25));
        height: 32px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        transition: opacity 0.3s;
        width: 32px;
        z-index: 2;
    }

    &::after {
        border-radius: 4px;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.3s;
        width: 100%;
        z-index: 1;
    }

    &--type_1 {
        &::after {
            background-color: rgba(#5474B4, 0.3);
        }

        svg {
            height: 28px;
            width: 28px;
        }

        &.is-active {
            box-shadow: none;

            &::before {
                border-radius: 4px;
                border: 2px solid #D43C38;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            &::after,
            svg {
                display: none;
            }
        }
    }

    &--type_2 {
        &::after {
            background: linear-gradient(180deg, #D43C38 0, rgba(#D43C38, 0) 100%);
        }

        &:focus,
        &:hover {
            box-shadow: 0 0 8px 0 #D43C38;
        }
    }

    &--type_3 {
        background-color: rgba(#D43C38, 0.3);
        box-shadow: none;
        cursor: default;

        &::before {
            border: 2px solid #D43C38;
            border-radius: 4px;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &:focus,
    &:hover {
        &::after,
        svg {
            opacity: 1;
        }
    }
}

.tests-search-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    max-width: 910px;
    position: relative;
    z-index: 2;
    @media(min-width: $hd) {
        display: flex;
    }
}

.tests-search {
    margin-bottom: 24px;
    position: relative;
    @media(min-width: $hd) {
        flex-grow: 1;
        margin-bottom: 0;
    }

    &:not(:last-child) {
        @media(min-width: $hd) {
            margin-right: 24px;
        }
    }

    &__form {
        position: relative;
    }

    &__input {
        background-color: rgba(#5474B4, 0.3);
        border: 2px solid #5474B4;
        border-radius: 4px;
        color: #fff;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        padding: 0 58px 0 12px;
        transition: background-color 0.3s;
        width: 100%;
        @media(min-width: $hd) {
            height: 48px;
            padding-right: 60px;
        }

        &::-webkit-input-placeholder {
            color: #fff;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: #fff;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: #fff;
            opacity: 1;
        }

        &:focus {
            background-color: transparent;

            &::-webkit-input-placeholder {
                opacity: 0;
            }

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }
        }
    }

    &__submit {
        align-items: center;
        background-color: #5474B4;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        @media(min-width: $hd) {
            height: 48px;
            width: 48px;
        }

        svg {
            fill: #fff;
            height: 32px;
            width: 32px;
        }
    }

    &__dropdown {
        backdrop-filter: blur(40px);
        background-color: rgba(#0C1117, 0.7);
        border: 2px solid #5474B4;
        border-top: none;
        border-radius: 0 0 8px 8px;
        display: none;
        left: 8px;
        position: absolute;
        padding: 12px 16px 16px;
        right: 8px;
        z-index: 1;

        .swiper-slide {
            width: 48px;
            @media(min-width: $hd) {
                width: 90px;
            }
        }
    }

    &__dropdown-title {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        span {
            color: #D43C38;
        }
    }

    &__list {
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__list-item {
        margin-right: 8px;
        min-width: 48px;
        @media(min-width: 768px) {
            min-width: 88px;
        }
        @media(min-width: $hd) {
            margin-right: 12px;
            min-width: 90px;
        }
    }
}